/* app css stylesheet */
._vertical-align {
  display: flex;
  align-items: center;
}

._row-5-gutter {
  margin-left: -10px;
  margin-right: -10px;
}
._col-5-gutter{
  padding-left: 7px;
  padding-right: 7px;
}

._container {
  padding: 20px 10px;
  /*margin: 10px;*/
}
body {
  padding-top: 50px;
}

.listNoStyle {
  list-style: none;
  padding-left: 0;
}

#categoryUl .list-group-item, #townUl .list-group-item {
  padding: 5px 10px;
}

._fullImgSize {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

._marginTB {
  width: 100%;
  margin: 5px 0;
}