<div class="jumbotron">
    <div class="row">
        <!--Navigation == left side bar-->
        <div class="col-md-2">
            <div ng-include="'templates/partials/navigation-side-bar.html'"></div>
            <div ng-include="'templates/partials/myAds-side-bar.html'"></div>
        </div>

        <div class="col-md-8 col-md-offset-2">
            <!-- confirm delete ad -->
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Confirm Deleting Ad?</h3>
                </div>

                <div class="container well">
                    <div class="row _vertical-align">
                        <div class="col-md-9">
                            <h3 class="pull-left">{{ad.title}}</h3>
                        </div>
                        <div class="col-md-3">
                            <div class="pull-right">{{ad.date | date:'d-MMM-yyyy'}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="image-container">
                                <img ng-if="ad.imageDataUrl!=null" src="" ng-src="{{ad.imageDataUrl}}" class="_fullImgSize"/>
                                <img ng-if="ad.imageDataUrl==null" src="images/NoImageSoftUni.jpg" alt="no image" class="_fullImgSize"/>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="row well well-sm">
                                {{ad.text}}
                            </div>
                            <div class="row">
                                <div class="col-md-3 _col-5-gutter">
                                    <ul class="list-group">
                                        <li class="list-group-item list-group-item-info">Category</li>
                                        <li class="list-group-item list-group-item-info">Town</li>
                                    </ul>
                                </div>
                                <div class="col-md-9 _col-5-gutter">
                                    <ul class="list-group">
                                        <li class="list-group-item list-group-item-success">{{ad.categoryName || 'none'}}</li>
                                        <li class="list-group-item list-group-item-success">{{ad.townName || 'none'}}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <br/>
                        <div class="container">
                            <div class="form-group">
                                <div class="col-lg-12 col-lg-offset-0 text-center">
                                    <button class="btn btn-default">Cancel</button>
                                    <button type="button" class="btn btn-primary" ng-click="confirmDeleteAd(ad.id)">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
