<div class="jumbotron">
    <div class="row">
        <!--Navigation == left side bar-->
        <div class="col-md-2">
            <div ng-include="'templates/partials/navigation-side-bar.html'"></div>
        </div>

        <!-- Edit ad -->
        <div class="col-md-10">
            <div class="well bs-component">
                <form class="form-horizontal" name="editAdForm" ng-submit="submitEditAd(editAd)">
                    <fieldset id="editContainer">
                        <legend>Edit Ad</legend>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-1">
                                <div class="form-group">
                                    <label for="inputTitle" class="col-lg-2 control-label">Title:</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" class="selectInEdit" id="inputTitle"
                                               placeholder="{{original.title}}" required ng-model="editAd.title" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="textArea" class="col-lg-2 control-label">Text:</label>
                                    <div class="col-lg-10">
                                        <textarea class="form-control" rows="6" class="textArea" id="textArea"
                                                  placeholder="{{original.text}}" required ng-model="editAd.text" >{{editAd.text}}</textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="image-container">
                                    <img id="previewEditImg" ng-src="{{original.imageDataUrl}}" alt="no image" />
                                    <!--<img id="previewImg" ng-if="original.imageDataUrl!=null" ng-src="{{original.imageDataUrl}}" alt="no image" />-->
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="imgEditInp" class="col-lg-2 control-label">Image:</label>
                                    <div class="col-lg-10">
                                        <div class="row">
                                    <span class="input-group-btn">
                                        <span class="btn btn-primary btn-file" id="inputEditImage">Browse&hellip;<input type='file' id="imgEditInp" /></span>
                                        <input type="text" id="showEditPath" class="form-control" readonly/>
                                    </span>
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="category" class="col-lg-2 control-label">Category:</label>
                                    <div class="col-lg-10">
                                        <select class="form-control" id="category" ng-init="original.townId" ng-model="editAd.categoryId">
                                            <option value="{{nullValue}}" ng-selected="!original.categoryId">none</option>
                                            <option ng-repeat="category in categories"
                                                    value="{{category.id}}"
                                                    ng-selected="original.categoryId==category.id">{{category.name}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="town" class="col-lg-2 control-label">Town:</label>
                                    <div class="col-lg-10">
                                        <select class="form-control" id="town" ng-init="original.townId" ng-model="editAd.townId">
                                            <option value="{{nullValue}}" ng-selected="!original.townId">none</option>
                                            <option ng-repeat="town in towns"
                                                    value="{{town.id}}"
                                                    ng-selected="original.townId==town.id">{{town.name}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-2">
                                        <a href="#/user/ads"><button class="btn btn-default">Cancel</button></a>
                                        <button type="submit" class="btn btn-primary" ng-disabled="editAdForm.$invalid">Apply</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
