<div class="navbar-header">
    <a href="#/home" class="navbar-brand">Yav Ads App</a>
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>
<div class="navbar-collapse collapse" id="navbar-main">
    <ul class="nav navbar-nav">
        <li>
            <a href="#/all-ads">All ads</a>
        </li>
        <li>
            <a href="#/login">Login</a>
        </li>
        <li>
            <a href="#/register">Register</a>
        </li>
    </ul>
    <h4 class="navbar-text text-center">{{title}}</h4>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="http://softuni.bg/" target="_blank">SoftUni.bg</a></li>
    </ul>
</div>