<div class="jumbotron">
    <div class="row">
        <!--Home guest-->
        <div class="col-md-2">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Welcome guest</h3>
                </div>
                <div class="panel-body text-center">
                    <small class="text-info">To publish a new ad, please login.</small>
                    <br/>
                    <br/>
                    <div class="btn-group-vertical">
                        <a href="#/login" class="btn btn-primary center-block">Login</a>
                        <a href="#/register" class="btn btn-primary center-block">Register</a>
                    </div>
                </div>
            </div>
        </div>
        <!--Ads-->
        <div class="col-md-7">

            <!--loading warning-->
            <div ng-if="dataLoading" class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Loading ads...</h3>
                </div>
            </div>
            <!--no ads warning-->
            <div ng-if="data.ads.length==0 && !dataLoading" class="panel panel-warning">
                <div class="panel-heading">
                    <h2 class="panel-title">No ads to display</h2>
                </div>
            </div>
            <div ng-if="data.ads.length>0" class="row _vertical-align">
                <div class="col-md-4">
                    <!--ads per page selector-->
                    <span>Ads per page: </span>
                    <select ng-model="adsParams.pageSize" class="ng-valid ng-dirty ng-touched" ng-change="pageSizeChanged()">
                        <option value="2" label="2">2</option>
                        <option value="5" label="5">5</option>
                        <option value="10" selected="selected" label="10">10</option>
                    </select>
                    <span ng-if="data.numPages>0">Page: {{adsParams.startPage}} / {{data.numPages}}</span>
                </div>
                <div class="col-md-8">
                    <!--pagination-->
                    <div class="text-center">
                        <pagination class="pagination-sm"
                                    total-items="totalItems"
                                    items-per-page="adsParams.pageSize"
                                    max-size="5"
                                    page="adsParams.startPage"
                                    ng-model="adsParams.startPage"
                                    boundary-links="true"
                                    rotate="true"
                                    ng-change="pageChanged()"></pagination>

                        <!--<div class="alert alert-dismissable alert-info">Page: {{currentPage}} / {{data.numPages}}</div>-->
                    </div>
                </div>
            </div>

            <!--ads-->
            <ul id="adsUl" class="panel-default">
                <li ng-repeat="ad in data.ads">
                    <div class="container well">
                        <div class="row _vertical-align">
                            <div class="col-md-9">
                                <h3 class="pull-left">{{ad.title}}</h3>
                            </div>
                            <div class="col-md-3">
                                <div class="pull-right">{{ad.date | date:'d-MMM-yyyy'}}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="image-container">
                                    <img ng-if="ad.imageDataUrl!=null" src="" ng-src="{{ad.imageDataUrl}}" class="_fullImgSize"/>
                                    <img ng-if="ad.imageDataUrl==null" src="templates/NoImageSoftUni.jpg" alt="no image" class="_fullImgSize"/>
                                    <!--<div ng-if="ad.imageDataUrl==null" class="list-group-item list-group-item-warning">No image!</div>-->
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="row well well-sm">
                                    {{ad.text}}
                                </div>
                                <div class="row">
                                    <div class="col-md-3 _col-5-gutter">
                                        <ul class="list-group">
                                            <li class="list-group-item list-group-item-info">Name</li>
                                            <li class="list-group-item list-group-item-info">Email:</li>
                                            <li class="list-group-item list-group-item-info">Phone</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-9 _col-5-gutter">
                                        <ul class="list-group">
                                            <li class="list-group-item list-group-item-success">{{ad.ownerName}}</li>
                                            <li class="list-group-item list-group-item-success">
                                                <a href="{{ad.ownerEmail}}">{{ad.ownerEmail}}</a>
                                            </li>
                                            <li class="list-group-item list-group-item-success">{{ad.ownerPhone}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!--Filters-->
        <div class="col-md-3">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Categories</h3>
                </div>
                <ul id="categoryUl">
                    <li class="list-group-item" ng-click="categoryClicked(null)" ng-class="{'active' : adsParams.categoryId == null}">All</li>
                    <li class="list-group-item"
                        ng-repeat="category in categories"
                        ng-click="categoryClicked(category.id)"
                        ng-class="{'active' : adsParams.categoryId == category.id}">
                        {{category.name}}
                    </li>
                </ul>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Towns</h3>
                </div>
                <ul id="townUl">
                    <li class="list-group-item" ng-click="townClicked(null)" ng-class="{'active' : adsParams.townId == null}">All</li>
                    <li class="list-group-item"
                        ng-repeat="town in towns"
                        ng-click="townClicked(town.id)"
                        ng-class="{'active' : adsParams.townId == town.id}">
                        {{town.name}}
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
