<div class="row">
    <div class="col-md-2">{{name}}</div>
</div>
<p>Some tecxt.</p>
<p>Some tecxt.</p>
<p>Some tecxt.</p>
<p>Some tecxt.</p>
<p>Some tecxt.</p>
<p>Some tecxt.</p>
<p>Some tecxt.</p>
<p>Some tecxt.</p>
<p>Some tecxt.</p>
<p>Some tecxt.</p>
<p>Some tecxt.</p>
<p>Some tecxt.</p>
<p>Some tecxt.</p>
<p>Some tecxt.</p>
<p>Some tecxt.</p>
<p>Some tecxt.</p>
<p>Some tecxt.</p>
<p>Some tecxt.</p>
<p>Some tecxt.</p>
<p>Some tecxt.</p>
<p>Some tecxt.</p>
<p>Some tecxt.</p>
<p>Some tecxt.</p>
<p>Some tecxt.</p>
<p>Some tecxt.</p>
<p>Some tecxt.</p>
<p>Some tecxt.</p>
<p>Some tecxt.</p>